{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>影响因素分析</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href={% static 'bootstrap/css/datepicker.css' %}>
    <link rel="stylesheet" href={% static 'fonts/fontawesome-all.min.css' %}>
    <link rel="stylesheet" href="{% static 'fonts/iconfont.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header_V2.css' %}"/>
</head>
<body>
<header id="navcont">
    <div id="nav" class="clearfix">
        <div class="navta"></div>
        <a class="navleft">
            <div class="navImage">
                <img class="imglogo" src="{% static 'img/logo/Beijing.png' %}" alt="">
                <span>电力负荷大数据分析</span>
                <i>V1.0.0</i>
            </div>
        </a>

        <ul class="navbtn">
            <li class="freedbackbtn" title="反馈"></li>
            <li class="helpbtn" title="帮助"></li>
            <li class="selfbtn" title="产品信息"></li>
            <li class="postbtn" title="通知"></li>
            <li class="loginbtn">
                <span class="loginpic active"></span>
                <span class="spantext">{{ user }}</span>
            </li>
            <a href="{% url 'logout' %}">
                <li class="closebtn" title="关闭"></li>
            </a>
        </ul>

    </div>

    <div class="navborder"></div>

</header>
<nav class="nav" id="my-navbar">
    <a class="nav-link my-link" href="{% url 'refine_analysis_index' %}" style="margin-left: 5px">
        <i class="iconfont icon-jingxihuafenxi"></i>
        精细化分析
    </a>
    <a class="nav-link my-link active" href="{% url 'factors_analysis_index' %}">
        <i class="iconfont icon-yingxiangyinsu"></i>
        特性分析
    </a>
    <a class="nav-link my-link" href="{% url 'predict_index' %}">
        <i class="iconfont icon-fuhefenxi"></i>
        变化趋势分析
    </a>
    <a class="nav-link my-link" href="{% url 'inner_analysis_index' %}">
        <i class="iconfont icon-neizaiguilv"></i>
        内在规律分析
    </a>
{#    <a class="nav-link my-link active" href="{% url 'cool_heat_load_index' %}">#}
{#        <i class="iconfont icon-jiangwencainuan"></i>#}
{#        降温采暖负荷#}
{#    </a>#}
</nav>
<div class="container-fluid" id="main">
    <div class="d-flex" id="filter">
        <div class="form-inline" id="time-filter-start">
            <label class="tiaojian" for="datepicker-yearMonth-start">选择起始月份</label>
            <div class="c-datepicker-date-editor c-datepicker-single-editor J-yearMonthPicker-single"
                 id="yearMonth-start" style="width: 160px; padding: 0 0 0 10px">
                <input type="text" class="c-datepicker-data-input" id="datepicker-yearMonth-start"
                       style="width: 120px">
                <i class="iconfont icon-calendar"></i>
            </div>
        </div>
        <div class="form-inline" id="time-filter-end">
            <label class="tiaojian" for="datepicker-yearMonth-end">选择截止月份</label>
            <div class="c-datepicker-date-editor c-datepicker-single-editor J-yearMonthPicker-single"
                 id="yearMonth-end" style="width: 160px; padding: 0 0 0 10px">
                <input type="text" class="c-datepicker-data-input" id="datepicker-yearMonth-end"
                       style="width: 120px">
                <i class="iconfont icon-calendar"></i>
            </div>
        </div>
        <div class="form-inline" id="district-filter">
            <label class="tiaojian" for="district-select">电网选择</label>
            <select class="form-control" id="district-select"></select>
        </div>
        <div class="form-inline">
            <button id="analysis-button" class="btn btn-primary">分析</button>
        </div>
    </div>
    <div id="content" style="height: calc(100vh - 174px)">
        <div class="row" style="height: 50%">
            <div class="col-4">
                <div class="head-top-border"></div>
                <div class="my-head-row">
                    <div class="head-vertical-line d-inline-block"></div>
                    <div class="my-head d-inline-block">
                        特征与负荷相关系数
                        <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                           id="info-corr-feature-load"></i>
                    </div>
                </div>
                <div class="myEcharts" id="corr-feature-load"></div>
            </div>
            <div class="col-8">
                <div class="head-top-border"></div>
                <div class="my-head-row" style="display: flex">
                    <div class="head-vertical-line d-inline-block"></div>
                    <div class="my-head d-inline-block" style="flex: 1">
                        特征与负荷变化曲线对比
                        <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                           id="info-comp-feature-load"></i>
                    </div>
                    <div class="d-inline-block">
                        <label for="feature-select">特征选择:</label>
                    </div>
                    <div class="d-inline-block">
                        <select class="form-control" id="feature-select"></select>
                    </div>
                </div>
                <div style="flex: 1; display: flex">
                    <div class="myEcharts" id="comp-feature-load" style="border-right: none"></div>
                    <div class="myEcharts d-inline-block" id="comp-feature-load-scatter"
                         style="border-left: none"></div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 50%">
            <div class="col-3">
                <div class="head-top-border"></div>
                <div class="my-head-row">
                    <div class="head-vertical-line d-inline-block"></div>
                    <div class="my-head d-inline-block">
                        Pearson相关性
                        <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                           id="info-chara-load-corr-pearson"></i>
                    </div>
                </div>
                <div class="myEcharts" id="chara-load-corr-pearson"></div>
            </div>
            <div class="col-3">
                <div class="head-top-border"></div>
                <div class="my-head-row">
                    <div class="head-vertical-line d-inline-block"></div>
                    <div class="my-head d-inline-block">
                        Spearman相关性
                        <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                           id="info-chara-load-corr-spearman"></i>
                    </div>
                </div>
                <div class="myEcharts" id="chara-load-corr-spearman"></div>
            </div>
            <div class="col-3">
                <div class="head-top-border"></div>
                <div class="my-head-row">
                    <div class="head-vertical-line d-inline-block"></div>
                    <div class="my-head d-inline-block">
                        灰色关联系数
                        <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                           id="info-chara-load-corr-gra"></i>
                    </div>
                </div>
                <div class="myEcharts" id="chara-load-corr-gra"></div>
            </div>
            <div class="col-3">
                <div class="head-top-border"></div>
                <div class="my-head-row">
                    <div class="head-vertical-line d-inline-block"></div>
                    <div class="my-head d-inline-block">
                        因果关系
                        <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                           id="info-chara-load-corr-cause"></i>
                    </div>
                </div>
                <div class="myEcharts" id="chara-load-corr-cause"></div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>Copyright © <span class="footeryear">2020</span> 国家电网有限公司版权所有 · 中国电科院技术支持</p>
</div>

<script src={% static 'bootstrap/js/jquery.min.js' %}></script>
<script src={% static 'bootstrap/js/underscore-min.js' %}></script>
<script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
<script src={% static 'bootstrap/js/moment.min.js' %}></script>
<script src={% static 'bootstrap/js/datepicker.all.min.js' %}></script>
<script src={% static 'bootstrap/js/datepicker.zh.js' %}></script>
<script src={% static 'bootstrap/js/echarts.min.js' %}></script>
<script src={% static 'bootstrap/js/ecStat.js' %}></script>
<script src={% static 'js/factors_analysis.js' %}></script>
</body>

</html>