{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>精细化分析</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/iconfont.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_V2.css' %}"/>
</head>
<body>
<header id="navcont">
    <div id="nav" class="clearfix">
        <div class="navta"></div>
        <a class="navleft">
            <div class="navImage">
                <img class="imglogo" src="{% static 'img/logo/Beijing.png' %}" alt="">
                <span>电力负荷大数据分析</span>
                <i>V1.0.0</i>
            </div>
        </a>

        <ul class="navbtn">
            <li class="freedbackbtn" title="反馈"></li>
            <li class="helpbtn" title="帮助"></li>
            <li class="selfbtn" title="产品信息"></li>
            <li class="postbtn" title="通知"></li>
            <li class="loginbtn">
                <span class="loginpic active"></span>
                <span class="spantext">{{ user }}</span>
            </li>
            <a href="{% url 'logout' %}">
                <li class="closebtn" title="关闭"></li>
            </a>
        </ul>

    </div>

    <div class="navborder"></div>

</header>
<nav class="nav" id="my-navbar">
    <a class="nav-link my-link active" href="{% url 'refine_analysis_index' %}" style="margin-left: 5px">
        <i class="iconfont icon-jingxihuafenxi"></i>
        精细化分析
    </a>
    <a class="nav-link my-link" href="{% url 'factors_analysis_index' %}">
        <i class="iconfont icon-yingxiangyinsu"></i>
        特性分析
    </a>
    <a class="nav-link my-link" href="{% url 'predict_index' %}">
        <i class="iconfont icon-fuhefenxi"></i>
        变化趋势分析
    </a>
    <a class="nav-link my-link" href="{% url 'inner_analysis_index' %}">
        <i class="iconfont icon-neizaiguilv"></i>
        内在规律分析
    </a>
{#    <a class="nav-link my-link active" href="{% url 'cool_heat_load_index' %}">#}
{#        <i class="iconfont icon-jiangwencainuan"></i>#}
{#        降温采暖负荷#}
{#    </a>#}
</nav>
<div class="container-fluid" id="main">
    <div class="d-flex" id="filter">
        <div class="form-inline" id="time-filter">
            <label class="tiaojian" for="datepicker-year">选择年份</label>
            <div class="c-datepicker-date-editor c-datepicker-single-editor J-yearPicker-single"
                 style="width: 160px; padding: 0 0 0 10px">
                <input type="text" autocomplete="off" name="" placeholder=""
                       class="c-datepicker-data-input" value="" id="datepicker-year"
                       style="width: 120px">
                <i class="iconfont icon-calendar"></i>
            </div>
        </div>
        <div class="form-inline" id="district-filter">
            <label class="tiaojian" for="district-select">电网选择</label>
            <select class="form-control" id="district-select"></select>
        </div>
        <div class="form-inline" style="flex: 1">
            <button id="analysis-button" class="btn btn-primary">分析</button>
        </div>
        <div class="form-inline" id="type-filter">
            <label class="tiaojian" for="type-select">类型选择</label>
            <select class="form-control" id="type-select"></select>
        </div>
        <div class="form-inline" style="margin-right: 0">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="nav-item" role="presentation" id="item-day">
                    <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-day" id="a-day-link">
                        日负荷
                    </a>
                </li>
                <li class="nav-item" role="presentation" id="item-week">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#tab-week" id="a-week-link">
                        周负荷
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex" id="content" style="height: calc(100vh - 174px)">
        <div class="tab-content" style="width: 100%; height: 100%">
            <div class="tab-pane active" role="tabpanel" id="tab-day" style="width: 100%;height: 100%">
                <div class="row" style="height: 50%">
                    <div class="col-4">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                各类型负荷平均曲线
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-day-average-norm-line"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="day-average-norm-line"></div>
                    </div>
                    <div class="col-4">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                典型日负荷曲线
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-day-average-line"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="day-average-line"></div>
                    </div>
                    <div class="col-4">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                典型日负荷特性指标
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-table-day-chara"></i>
                            </div>
                        </div>
                        <table id="table-day-chara" class="table table-hover myTables table-striped"></table>
                    </div>
                </div>
                <div class="row" style="height: 50%">
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                Pearson相关性
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-day-corr-pearson"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="day-corr-pearson"></div>
                    </div>
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                Spearman相关性
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-day-corr-spearman"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="day-corr-spearman"></div>
                    </div>
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                灰色关联系数
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-day-corr-gra"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="day-corr-gra"></div>
                    </div>
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                因果关系
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-day-cause"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="day-cause"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-week" style="width: 100%;height: 100%">
                <div class="row" style="height: 50%">
                    <div class="col-4">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                各类型负荷平均曲线
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-week-average-norm-line"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="week-average-norm-line"></div>
                    </div>
                    <div class="col-4">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                典型周负荷曲线
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-week-average-line"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="week-average-line"></div>
                    </div>
                    <div class="col-4">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                典型周负荷特性指标
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-table-week-chara"></i>
                            </div>
                        </div>
                        <table id="table-week-chara" class="table table-hover myTables table-striped"></table>
                    </div>
                </div>
                <div class="row" style="height: 50%">
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                Pearson相关性
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-week-corr-pearson"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="week-corr-pearson"></div>
                    </div>
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                Spearman相关性
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-week-corr-spearman"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="week-corr-spearman"></div>
                    </div>
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                灰色关联系数
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-week-corr-gra"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="week-corr-gra"></div>
                    </div>
                    <div class="col-3">
                        <div class="head-top-border"></div>
                        <div class="my-head-row">
                            <div class="head-vertical-line d-inline-block"></div>
                            <div class="my-head d-inline-block">
                                因果关系
                                <i class="fa fa-info-circle my-info-icon" data-toggle="tooltip" data-html="true"
                                   id="info-week-cause"></i>
                            </div>
                        </div>
                        <div class="myEcharts" id="week-cause"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>Copyright © <span class="footeryear">2020</span> 国家电网有限公司版权所有 · 中国电科院技术支持</p>
</div>

<script src={% static 'bootstrap/js/jquery.min.js' %}></script>
<script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
<script src={% static 'bootstrap/js/moment.min.js' %}></script>
<script src={% static 'bootstrap/js/datepicker.all.min.js' %}></script>
<script src={% static 'bootstrap/js/datepicker.zh.js' %}></script>
<script src={% static 'bootstrap/js/echarts.min.js' %}></script>
<script src={% static 'bootstrap/js/bootstrap-table.min.js' %}></script>
<script src={% static 'bootstrap/js/bootstrap-table-zh-CN.min.js' %}></script>
<script src={% static 'js/refine_analysis.js' %}></script>
</body>

</html>